/* page sliding animation for bottom nav links */
.slide-enter {
    position: absolute;
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
  }
  
  .slide-enter-active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  
  .slide-exit {
    position: absolute;
    width: 100%;
    transform: translateX(0%);
    opacity: 1;
  }
  
  .slide-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  